* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*::selection {
    color: white;
    background-color: black;

}

html,
body {
    height: 100%;
    width: 100%;
    /* background-color: #F7F7F7; */
}

#nav {
    height: 100px;
    width: 100%;
    /* background-color: aqua; */
    position: fixed;
    z-index: 99;
    padding: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#nav #part-1 {
    /* background-color: red; */

}

#nav-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#nav #part-1 svg {
    /* background-color: red; */
    display: block;
    height: 80px;
    /* overflow: hidden; */
    /* background-color: aqua; */


}

#link {
    padding: 10px;
}

#link a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    margin: 25px;
    gap: 20px;
    font-weight: 400;
}


#nav {
    /* overflow: hidden; */
}

#svg1 {
    margin-top: 120px;
}

#nav-part1 #icon i {
    font-size: 18px;
    margin: 20px;
    font-weight: 100;

}

#icon {
    padding: 10px;
    border-radius: 50px;
    /* background-color: rgb(238, 242, 241); */
}

#cursor {
    height: 150px;
    width: 150px;
    background-color: rgb(232, 141, 232);
    border-radius: 50%;
    position: fixed;
    transform: translate(-60%, -60%);
    opacity: .9;

}

#page1 {
    min-height: 70vh;
    width: 100%;
    position: relative;
    /* background-color: aqua; */
    padding-top: 22vh;
    padding-left: 1px;

}

#page1 h1 {
    font-size: 14vw;
    text-transform: uppercase;
    line-height: 12vw;
    letter-spacing: -8px;
    padding-left: 20px;
}

#vedio-container {
    height: 70vh;
    width: 100%;
    /* background-color: blue; */
    /* margin-top: 2vw; */
    position: relative;
    padding-left: 40px;
    padding-top: 20px;
}


#vedio-container.vedio {

    object-fit: cover;
}

#play {
    padding: 3vw 2vw;
    background-color: black;
    color: #fff;
    font-size: 1.5vw;
    text-transform: uppercase;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

#page2 {
    height: 100vh;
    width: 100%;
    /* background-color: blue; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 220px;
}

#page2 .elem {
    height: 100%;
    width: 31%;
    /* background-color: red; */
    margin-left: 2vw;
    margin-right: 2vw;
    overflow: hidden;
    position: relative;
    padding: 20px;

}

/* #page2 .elem .dets:hover {
    height: 200px;
} */

#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}



#page3 {
    min-height: 200vh;
    width: 100%;
    background-color: #F7F7F7;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 1px;
}

#page3 .child {
    height: 85vh;
    width: 35vw;
    /* background-color: red; */
    /* border: 2px solid #000; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.child img {
    height: 100%;
    object-fit: cover;

}

#page4 {
    height: 100%;
    background-color: rgb(180, 180, 38);
}

@media (max-width:600px) {
    #page1 h1 {
        font-size: 14vw;
        text-transform: uppercase;
        line-height: 12vw;
        letter-spacing: -8px;
        padding-left: 20px;
    }

    #page2 {
        height: 100vh;
        width: 100%;
        /* background-color: blue; */
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }

    #page2 .elem {
        height: 100%;
        width: 31%;
        /* background-color: red; */
        margin-left: 2vw;
        margin-right: 2vw;
        overflow: hidden;
        position: relative;
        padding: 20px;

    }
}



































/* footer csss */



@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Rubik:wght@400;500;700&display=swap");

:root {
    --light: #ffffff;
    --dark: #000;
}

body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-family: "Noto Serif Display", serif;
    font-size: 2.3rem;
    font-weight: 300;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 500;
    transition: 0.3s ease-in;
    border-bottom: 1px solid transparent;
    margin-bottom: 0.5rem;
    display: inline-flex;
}

a:hover {
    border-bottom: 1px solid var(--dark);
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    appearance: none;
    border: 0;
    background: transparent;
}

.flex {
    display: flex;
}

.footer_video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    border: none;
}

.footer_inner {
    background: var(--light);
    backdrop-filter: blur(50px);
    border: 0.1px solid rgba(233, 232, 232, 0.208);
    border-radius: 5px;
    padding: 2rem;
    margin: 1rem 0;
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(100%, 400px);
    border-bottom: 1px solid var(--dark);
}

input {
    padding: 0.75rem 0;
    border: none;
    background: none;
    font-weight: 500;
    transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 0;
    width: 100%;
    font-size: 1.05rem;
    font-weight: bolder;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: var(--dark);
}

@media (min-width: 675px) {
    .layout {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 2rem;
    }

    .w-50 {
        width: 50%;
    }

    .w-25 {
        width: 25%;
    }
}

form {
    position: relative;
}

svg {
    margin: 0.5rem;
}

.c-2 {
    margin-top: 3.5rem;
}

.footer_copyright {
    color: var(--light);
}